body {
  font-family: "Nerko One", cursive;
}
/* Display none */
.display-none {
  display: none;
}
.display-flex {
  display: flex;
}

/* Header */
.header {
  background-color: #a3e5f7;
  height: 50px;
}
.header__search,
.header__form {
  float: left;
  margin-top: 10px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Main */
.fewDays {
  /* display: flex; */
  /* display: none; */
  margin-top: 30px;
}

/* Card */
.card {
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  height: 400px;
  width: 250px;
}
.card:not(:first-child) {
  margin-left: 25px;
}

.card__title {
  font-family: "Castoro", serif;
  font-size: 20px;
  padding-top: 20px;
  height: 100px;
}

.card__info {
  width: 100%;
}
.card__clouds img {
  margin: auto;
  width: 66%;
}

.card__temperature,
.card__wind {
  border-right: 2px solid #1a1a1a;
}

.card__temperature,
.card__wind,
.card__humidity {
  float: left;
  text-align: center;
  padding: 25% 5px;
  height: 100%;
  width: 33.33%;
}

.card__title,
.card__info {
  color: rgb(134, 134, 138);
  border-bottom: 2px solid #1a1a1a;
}
.card__title,
.card__clouds {
  text-align: center;
}

.card__info,
.card__clouds {
  height: 150px;
}

/* Five Days block */
.break {
  flex-basis: 100%;
  height: 0;
}
.fiveDays {
  /* display: flex; */
  flex-wrap: wrap;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  color: #878787;
  line-height: 1.2;
  padding: 20px 16px 24px;
  margin-top: 20px;
}

/* Title */
.fiveDays__title {
  width: 100%;
}

.city {
  font-size: 24px;
}

.day,
.clouds {
  font-size: 16px;
}
/* Weather */
.weather,
.weather__detail {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
/* Main weather */
.main-details {
  display: flex;
  float: left;
  flex-grow: 1.5;
  border: 1px solid red;
  height: 150px;
  /* width: auto; */
}
.clouds-icon {
  background-color: green;
  width: 50%;
}
.day-temp {
  background-color: blue;
  color: #1a1a1a;
  font-size: 64px;
  font-weight: 500;
  width: 50%;
}
/* details weather */
.more-details {
  flex-grow: 3;
  border: 1px solid red;
  height: 150px;
}
.feels-temp,
.humidity,
.wind {
  height: 50px;
}

/* weather-time */
.weather__time,
.weather__temp {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.item__time:not(:first-child),
.item__temp:not(:first-child) {
  margin-left: auto;
}

/* Week block */
.week {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.week__item {
  margin: 0 auto;
}
